<style>
    input[type="text"] {
        color: #666666;
    }

</style>
<form role="form" ng-controller="ControllerVistoria" ng-submit="gravarVistoria(item)" ng-init="loadPage()">

    <div class="row">
        <div class="col-lg-2" style="width: 200px;">
            <div class="form-group">
                <label for="contrato">* Contrato</label>
                <input type="text" class="form-control" id="contrato" ng-model="item.CODIGO_CONTRATO" ng-blur="consulta_dados_contrato(item.CODIGO_CONTRATO, imovelSemContrato)" ng-change="change_contrato()" ng-disabled="d_contrato">
            </div>
        </div>

        <div class="col-lg-1" style="width: 30px; margin-top: 30px;padding-left: 0px;">
            <!-- PESQUISA DE IMOVEL COM CONTRATO -->
            <a href="" ng-click="pesquisaContrato()" title="Pesquisa contrato" ng-hide="imovelSemContrato"> <img src="/icones/search_icon.png" /> </a>
            <!-- PESQUISA DE IMOVEL SEM CONTRATO -->
            <a href="" ng-click="pesquisaImovel()" title="Pesquisa contrato" ng-show="imovelSemContrato"> <img src="/icones/search_icon.png" /> </a>
        </div>

        <div class="col-lg-2" style="padding-right: 0px;">
            <div class="form-group">
                <label for="cod_imovel">* Cod.Imóvel</label>
                <input type="text" class="form-control" name="cod_imovel" id="cod_imovel" ng-model="item.CODIGO" ng-disabled="d_codigo">
            </div>
        </div>
        <div class="col-lg-1" style="padding-left:5px; margin-top: 30px; width: 65px;">
            <input id="basicCheck" type="checkbox" ng-model="imovelSemContrato" ng-click="vistoriaSemContrato(imovelSemContrato)" /> <span style="font-size: 11px;"> SC </span>
        </div>
        <div class="col-lg-2" style="margin-top: 28px; width: 120px;">
           <span style="font-size: 10px;" ng-show="pesquisando()"><img src="/image/159.gif" height="13" width="13"/> Pesquisando ...</span>
        </div>

        <div class="col-lg-4" style="margin-top: 23px;">
            <ol class="breadcrumb" style="background-color: #E98531">
                <li class="active" style="color: #000000; font-weight: bold"><i class="fa fa-calendar"></i> &nbsp;AGENDAMENTO DE VISTORIA</li>
            </ol>
        </div>

    </div>
    <hr />
    <div class="row">
        <div class="col-lg-4">
            <div class="form-group">
                <label for="end_imovel">* Endereço Imóvel</label>
                <input type="text" class="form-control" name="end_imovel" id="end_imovel" ng-model="item.ENDERECO" ng-disabled="disabilitaInputsNovaVistoria || d_endereco">
            </div>
        </div>

        <div class="col-lg-3">
            <div class="form-group">
                <label for="bairro">* Bairro</label>
                <input type="text" class="form-control" name="bairro" id="bairro" ng-model="item.BAIRRO" ng-disabled="disabilitaInputsNovaVistoria || d_bairro">
            </div>
        </div>
        <div class="col-lg-2" style="width: 150px">
            <div class="form-group">
                <label for="prioridade">* Acompanhada</label>
                <select class="form-control" name="prioridade" id="prioridade" ng-model="item.VISTORIA_ACOMPANHADA">
                    <option value="">Informe</option>
                    <option value="nao">Não</option>
                    <option value="sim">Sim</option>
                </select>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-3">
            <div class="form-group">
                <label for="proprietario">* Proprietário</label>
                <input type="text" class="form-control" name="proprietario" id="proprietario" ng-model="item.NOME" ng-disabled="disabilitaInputsNovaVistoria || d_proprietario">
            </div>
        </div>

        <div class="col-lg-1">
            <div class="form-group">
                <label for="ddd">DDD</label>
                <input type="text" class="form-control" name="ddd" id="ddd" ng-model="item.DDD" ng-disabled="disabilitaInputsNovaVistoria">
            </div>
        </div>
        <div class="col-lg-2">
            <div class="form-group">
                <label for="tel_residencial"> Tel.Residencial</label>
                <input type="text" class="form-control" name="tel_residencial" id="tel_residencial" ui-mask="9999-9999" ng-model="item.RESIDENCIAL" ng-disabled="disabilitaInputsNovaVistoria || d_tel_residencial">
            </div>
        </div>
        <div class="col-lg-2">
            <div class="form-group">
                <label for="tel_celular">Tel.Celular</label>
                <input type="text" class="form-control" name="tel_celular" id="tel_celular" ng-model="item.CELULAR" ng-disabled="disabilitaInputsNovaVistoria">
            </div>
        </div>
        <div class="col-lg-2">
            <div class="form-group">
                <label for="tel_comercial">Tel.Comercial</label>
                <input type="text" class="form-control" name="tel_comercial" id="tel_comercial" ng-model="item.COMERCIAL" ng-disabled="disabilitaInputsNovaVistoria">
            </div>
        </div>
        <div class="col-lg-2">
            <div class="form-group">
                <label for="email">Email</label>
                <input type="text" class="form-control" name="email" id="email" ng-model="item.E_MAIL" ng-disabled="disabilitaInputsNovaVistoria">
            </div>
        </div>
    </div>

    <!-- Div de Vistoria -->
    <div class="row">
        <div class="col-lg-3">
            <label for="vistoriador">* Vistoriador</label>
            <select class="form-control form-group" name="prioridade" id="vistoriador" ng-model="item.VISTORIADOR">
                <option value="">Informe</option>
                <option value="flavio">Flavio</option>
                <option value="juneo">Juneo</option>
            </select>
        </div>
        <div class="col-lg-1">
            <label for="horario">* Hrs</label>
            <input type="text" class="form-control" id="horario" ng-model="item.HORARIO" ui-mask="99:99" style="font-size: 10px;" model-view-value="true">
        </div>
        <div class="col-lg-2">
            <label for="data_vistoria">* Data Vistoria</label>
            <input type="text" class="form-control" ng-model="item.DATA_VISTORIA" ui-mask="99/99/9999" model-view-value="true" directiva-data ng-hide="dataParcela2Hide" model-view-value="true">
        </div>
        <div class="col-lg-3">
            <label for="tipo_vistoria">* Tipo Vistoria</label>
            <select class="form-control form-group" name="prioridade" id="tipo_vistoria" ng-model="item.TIPO_VISTORIA">
                <option value="">Informe</option>
                <option value="conferencia">Conferência</option>
                <option value="entrega">Entrega</option>
                <option value="recebimento">Recebimento</option>
            </select>
        </div>
        <div class="col-lg-2" style="margin-top: 20px;">
            <a href="" title="Abrir Agenda de Vistorias" ng-click="agenda()"><i class="fa fa-calendar fa-1x"></i> Agenda Vistoria</a>
        </div>
    </div>
    <!-- Fim da Div de Vistoria -->

    <div class="row">
        <div class="col-lg-4">
            <div class="form-group">
                <label for="solicitante">* Solicitante</label>
                <input type="text" class="form-control" name="solicitante" id="solicitante" ng-model="item.SOLICITANTE">
            </div>
        </div>

        <div class="col-lg-2">
            <div class="form-group">
                <label for="tel_residencial_solicitante">* Tel.Residencial</label>
                <input type="text" class="form-control" ui-mask="(99)9999-9999" name="tel_residencial_solicitante" id="tel_residencial_solicitante" ng-model="item.TEL_RESIDENCIAL_SOLICITANTE" model-view-value="true">
            </div>
        </div>
        <div class="col-lg-2">
            <div class="form-group">
                <label for="tel_comercial_solicitante">Tel.Comercial</label>
                <input type="text" class="form-control" ui-mask="(99)9999-9999" name="tel_comercial_solicitante" id="tel_comercial_solicitante" ng-model="item.TEL_RESIDENCIAL_COMERCIAL" model-view-value="true">
            </div>
        </div>
        <div class="col-lg-3">
            <div class="form-group">
                <label for="email_solicitante">Email</label>
                <input type="email" class="form-control" name="email_solicitante" id="email_solicitante" ng-model="item.EMAIL_SOLICITANTE"
                       oninvalid="setCustomValidity('Email Inválido')" onchange="try{setCustomValidity('')}catch(e){}">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-5">
            <div class="form-group">
                <label for="solicitacao">* Solicitação</label>
                <textarea class="form-control" rows="3" name="solicitacao" id="solicitacao" ng-model="item.SOLICITACAO" maxlength="200"></textarea>
                <span style="font-size: 11px;">{{item.SOLICITACAO.length}}  - Max 200 caracteres</span>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-2">
            <button type="submit" ng-disabled="!(!!item.CODIGO_CONTRATO && !!item.CODIGO && !!item.ENDERECO && !!item.BAIRRO && !!item.VISTORIA_ACOMPANHADA
                    && !!item.NOME && item.VISTORIADOR && item.HORARIO && item.DATA_VISTORIA && item.TIPO_VISTORIA && item.SOLICITANTE && item.TEL_RESIDENCIAL_SOLICITANTE
                    && item.SOLICITACAO)" class="btn btn-default"
                    >Salvar Dados
            </button>
        </div>
        <div class="col-lg-4">
            <p style="font-size: 12px;">* Campos Obrigatórios</p>
        </div>
   </div>

    <!-- Modal de Aviso Caso O Sistema Identifique Que Existe Vistoria Cadastrada -->
        <div class="modal fade" id="modalVistoriaCadastrada">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h4 class="modal-title">Mensagem Do Sistema</h4>
                    </div>
                    <div class="modal-body">
                        <p style="font-size: 11px;">Já Existe Cadastrada no Sistema Uma Vistoria Como o Mesmo Número de Contrato.</p>
                        <p style="font-size: 11px;">Tem Certeza Que Deseja Cadastrar Novamente ?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                        <button type="button" class="btn btn-primary" ng-click="dataSave(item)">Sim, Salvar</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
    <!-- Fim da Modal -->



    <!-- MODAL COM OS AGENDAMENTOS DE VISTORIA -->
    <div id="modalAgendaVistoria" class="modal fade bs-example-modal-lg ajusteModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content" >
                <div class="modal-header dialog-header-notify" style="height: 45px;">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" style="color: #000000; font-size: 14px;"><i class="fa fa-calendar"></i> AGENDA DE VISTORIA</h4>
                </div>
                <div class="row" style="padding: 10px;">
                    <div class="col-lg-3">
                        <label for="tel_comercial_solicitante">Busca Na Agenda </label>
                        <input type="text" class="form-control form-group" ng-model="busca">
                    </div>

                    <!-- BUSCA POR DATA NA AGENDA DE VISTORIA -->
                    <div class="col-lg-2">
                        <label for="tel_comercial_solicitante">Data Inicial </label>
                        <input type="text" class="form-control form-group" ng-model="dataInicial" ui-mask="99/99/9999" model-view-value="true" directiva-data>
                    </div>

                    <div class="col-lg-2">
                        <label for="tel_comercial_solicitante">Data Final </label>
                        <input type="text" class="form-control form-group" ng-model="dataFinal" ui-mask="99/99/9999" model-view-value="true" directiva-data>
                    </div>

                    <div class="col-lg-2" style="margin-top: 25px">
                        <button type="button" ng-click="buscaDadosFiltro(dataInicial, dataFinal)" ng-disabled="(!dataInicial && !dataFinal) || pesquisando()" class="btn btn-default"><i class="fa fa-search"></i> {{btn_pesquisa}}
                        </button>
                    </div>

                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th>Contrato</th>
                                <th>Cod.Imóvel</th>
                                <th>Data Vistoria</th>
                                <th>Horário</th>
                                <th>Vistoriador</th>
                                <th>Tipo</th>
                            </tr>
                            </thead>
                            <tbody>

                            <tr ng-repeat="vistoria in vistorias | filter:busca | limitTo: 10" style="font-size: 11px;">
                                <td> {{vistoria.CODIGO_CONTRATO}} </td>
                                <td> {{vistoria.CODIGO}} </td>
                                <td> {{vistoria.DATA_VISTORIA | date:'dd/MM/yyyy'}} </td>
                                <td> {{vistoria.HORARIO}} </td>
                                <td style="text-transform: capitalize"> {{vistoria.VISTORIADOR}} </td>
                                <td style="text-transform: capitalize"> {{vistoria.TIPO_VISTORIA}} </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Fim Da Modal De Agendamento de Vistorias -->


    <!-- MODAL LISTA OS ENDERECOS E CONTRATOS -->
    <div id="modalListaEnderecos" class="modal fade bs-example-modal-lg ajusteModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content" >
                <div class="modal-header dialog-header-notify" style="height: 45px;">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" style="color: #000000; font-size: 14px;"><i class="fa fa-search"></i> PESQUISA DE CONTRATOS </h4>
                </div>
                <div class="row" style="padding: 10px;">
                    <div class="col-lg-4">
                        <label for="tel_comercial_solicitante">Busca </label>
                        <input type="text" class="form-control form-group" ng-model="busca">
                    </div>

                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th>Contrato</th>
                                <th>Cod.Imóvel</th>
                                <th>Endereço</th>
                                <th>Bairro</th>
                                <th> - </th>
                            </tr>
                            </thead>
                            <tbody>

                            <tr ng-repeat="dado in dados | filter:busca | limitTo: 10" style="font-size: 11px;">
                                <td>
                                    <span ng-if="dado.CODIGO_CONTRATO != null"> {{dado.CODIGO_CONTRATO}} </span>
                                    <span ng-if="dado.CODIGO_CONTRATO == null" style="margin-left: 30px;"> - </span>
                                </td>
                                <td> {{dado.CODIGO}} </td>
                                <td> {{dado.ENDERECO}} </td>
                                <td> {{dado.BAIRRO}} </td>
                                <td>
                                    <!-- SE O USUÁRIO OPTAR PELA BUSCA COM CONTRATO -->
                                    <a href="" ng-if="dado.CODIGO_CONTRATO != null" ng-click="consulta_dados_contrato(dado.CODIGO_CONTRATO, imovelSemContrato)"> IMP </a>
                                    <!-- SE O USUÁRIO OPTAR PELA BUSCA SEM CONTRATO -->
                                    <a href="" ng-if="dado.CODIGO_CONTRATO == null" ng-click="consulta_dados_contrato(dado.CODIGO, imovelSemContrato)"> IMP </a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- FIM DA MODAL LISTA OS ENDERECOS E CONTRATOS -->

</form>


<!-- Modal contrato não encontrado -->
<div class="modal fade bs-example-modal-sm ajusteModal" id="modalErroContrato" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header dialog-header-notify">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel" style="color: #000000; font-size: 14px;"><i class="fa fa-info-circle"></i> INFORMAÇÃO DO SISTEMA</h4>
            </div>
            <div class="modal-body">
                <span style="font-size: 12px;">O SISTEMA NÃO ENCONTROU O CONTRATO SOLICITADO.</span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>

<!-- MODAL ERRO DE PROCESSAMENTO DO SISTEMA  -->
<div class="modal fade bs-example-modal-sm ajusteModal" id="modalErroProcessamento" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header dialog-header-error">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" style="color: #000000; font-size: 14px;"><i class="fa fa-info-circle"></i> ERRO DO SISTEMA</h4>
            </div>
            <div class="modal-body">
                <span style="font-size: 12px;"><i class="fa fa-frown-o fa-2x"></i> AH, NÃO! OCORREU UM ERRO DO SISTEMA, TENTE NOVAMENTE.</span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>

